<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="Rd.Library.Business" version="2.19.0" targetFramework="net40" />
  <package id="Rd.Library.Db" version="2.6.0" targetFramework="net40" />
  <package id="Rd.Library.Entities" version="2.6.0" targetFramework="net40" />
  <package id="Rd.Library.Languages" version="2.5.0" targetFramework="net40" />
  <package id="Rd.Library.Services" version="2.6.0" targetFramework="net40" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" />
  <package id="Unity" version="2.1.505.0" targetFramework="net40" />
  <package id="Unity.Interception" version="2.1.505.0" targetFramework="net40" />
</packages>